<div id="jq-primaryContent" style="width:1132px">
  <p id="notice"><%= notice %></p>

  <p>
    <b>Name:</b>
    <%= @static_page.name %>
  </p>

  <p>
    <b>Description:</b>
    <%=raw @static_page.description %>
  </p>

  <p style="font-size:16px;">
    <%= link_to 'Edit', edit_static_page_path(@static_page) %> |
    <%= link_to 'Back', static_pages_path %>
  </p>
  <div>
