<%= form_for(@parameter) do |f| %>
  <% if @parameter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@parameter.errors.count, "error") %> prohibited this parameter from being saved:</h2>

      <ul>
        <% @parameter.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :api_method_id %><br />
    <%= f.text_field :api_method_id %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :validation %><br />
    <%= f.text_area :validation %>
  </div>
  <div class="field">
    <%= f.label :is_request %><br />
    <%= f.check_box :is_request %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
